# Data Types:
- Integer
- String 
- Float

In [1]:
# Integer
x = 10
print(x,type(x))

10 <class 'int'>

In [2]:
# STring
s = "Python"
print(s,type(s))

Python <class 'str'>

In [3]:
# Float
f = 10.3
print(f,type(f))

10.3 <class 'float'>

# Datatype Conversions
- integer -->int
- string --> str
- float --> float

In [7]:
n = 3
print(n,type(n))
s = str(n)
print(s,type(s))
f = float(n)
print(f,type(f))

3 <class 'int'>
3 <class 'str'>
3.0 <class 'float'>

In [5]:
# string
s = '123456'
print(s,type(s))
n = int(s)
print(n,type(n))
f = float(s)
print(f,type(f))

123456 <class 'str'>
123456 <class 'int'>
123456.0 <class 'float'>

In [6]:
# Float 
f = 12.2
print(f,type(f))
n = int(f)
print(n,type(n))
s = str(f)
print(s,type(s))

12.2 <class 'float'>
12 <class 'int'>
12.2 <class 'str'>

# Python Operator:
- To Perform orarions on variables and values

# Arithematic Operator:
- used with numeric values to perform  mathematical operations:

* Operator:
   - **+**
   - **-**
   - **'*'**
   - **/**
   - **
   - **%**
   - **//**

In [7]:
x = 10
y = 5
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x**y)
print(x%y)
print(x//y)

15
5
50
2.0
100000
0
2

# Assignment Operator:
- Used to assign values to variables
- Operator:
  - **=**
  - **+=**
  - **-=**
  - ***=**
  - **/=**
  - %=
  - //=

In [8]:
x = 3
x += 4 # x = x+4
print(x)
x -= 2
print(x)
x *= 2
print(x)
x /= 2
print(x)

7
5
10
5.0

# Comparision Operator:
- Used to compare 2 values
- Operator:
  - **==**
  - **!=**
  - **<**
  - **>**
  - **<=**
  - **>=**

In [9]:
x = 4
y = 8
print(x ==y)
print(x !=y)
print(x <y)
print(x >y)
print(x<=y)
print(x>=y)

False
True
True
False
True
False

# Logical Operator:
- used to combine conditional statements
- **and**
- **or**
- **not**

In [10]:
x = 6
print(x<9 and x>3)
print(x<9 or x>3)
print(not(x<9 and x>3))

True
True
False

# Identity Operator:
- used to compare objects
- **is**
- **is not**

In [15]:
a = 3
b = 4
c = 6
print(a is b)
print(a is not c)

False
True

# Memebership Operator:
- Used to test given sequence presnted in object
- **in**
- **not in**

In [16]:
x = "Python"
print('y' in x)
print('Py' in x)
print('Pt' in x)
print('Q' not in x)

True
True
False
True

# Control Flow Statement 
- Conditional Statements
    - if-else Statement
- Looping Statements
    - for loop Statement
    - while loop statement

# if- else

In [ ]:
#Syntax:
if Booolean_Condtion:
    Statement
else:
    Statement

In [9]:
# Check given number is even or oddd
n = int(input("Entre a number: "))
if n%2==0:
    print("Even number")
else:
    print("Odd Number")

Entre a number: 4
Even number

In [11]:
# Check given number multiples of both 3 and 5 
x = int(input("entre a number :"))
if x%3==0 and x%5==0:
    print("Yes")
else:
    print("No")

entre a number :4
No

In [32]:
n = int(input("Entre a number:"))
if n>0:
    print("Positive number")
elif n<0:
    print("NEGATIVE nUMBER")
else :
    print("Zero")

Entre a number:0
Zero

In [34]:
# Find large number from given 3 input
a = int(input())
b = int(input())
c = int(input())
if a >b and a>c:
    print("a is large")
elif b>a and b>c:
    print("b is large")
else:
    print("c is large")

5
9
11
c is large

# Looping Statements:
- While loop Statement
    - It allows a programmaer to repeat a single statement or s gruop of statements for true condition.

- For loop Statement:
    - To Excute a sequence of statements several times

In [35]:
# print "python" 5 time
print("python")
print("python")
print("python")
print("python")
print("python")

python
python
python
python
python

In [36]:
i = 1
while i<=5:
    print("Python")
    i +=1

Python
Python
Python
Python
Python

In [38]:
# 1 2 3 4 5 6 7 8 9 10
i =1
while i<=10:
    print(i,end =" ")
    i +=1

1 2 3 4 5 6 7 8 9 10

In [39]:
# from 1 to 10 print even numbers
# 2 4 6 8 10
i =1
while i<=10:
    if i %2 ==0:
        print(i,end =" ")
    i +=1

2 4 6 8 10

In [1]:
# input : 123
# output : 321
n = int(input())
while n !=0:
    print(n%10,end = "")
    n = n//10

123
321

# Break Statement:
- we can stop the loop even if the while condition is true

In [3]:
i = 1
while i <= 5:
    print(i,end = " ")
    if i ==3:
        break
    i +=1

1 2 3

In [4]:
# Continue Statement:
# we can stop current iteration and continue with next
i = 0
while i<=6:
    i +=1
    if i ==4:
        continue
    print(i,end=" ")

123567